
*   {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html    {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family:sans-serif;
    scroll-behavior: smooth;
}

body    {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background-color:yellow;
    font-style:italic;
    font-size:28px;
}

img {
    display: block; 
    margin: 0 auto;
    max-width: 100%;
    width:50%;
}

h1,h2,h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-align:center;
}
nav{
font-size: 20px;
word-spacing: 450px;
font-size: 30px;
background-color:blue;
color:white;
text-decoration: Underline;
position:fixed;
top:0px;
width:100%;
}
a{
color:white;
}
h1{
padding-top:80px;
}
h2{
color:red;
padding-top:50px;
}
h3{
color:blue;
padding-top:50px;
}